<form action="/todos/{{ todo._id }}?_method=delete" method="post" style="display: inline" class="px-2">
  <div class="input-group">
    <div class="input-group-text">
      <input type="checkbox" name="isDone" {{#if todo.isDone}} checked {{/if}} disabled>
    </div>

    <input class="form-control me-3" type="text" placeholder="name" name="name" value="{{ todo.name }}" disabled>

    <a class="btn btn-success mx-1" href="/todos/{{ todo._id }}/edit">Edit</a>
    <button class="btn btn-danger mx-1" type="submit">Delete</button>
  </div>
</form>