<a class="btn btn-outline-light mb-3" href="/todos/new">Create</a>

<ul class="list-group">
  {{#each todos}}
  <li class="list-group-item">
    <div class="row justify-content-between">
      <div class="col-auto mx-2 my-1">
        {{!-- disabled 為不可編輯 --}}
        <input class="virtical-align: middle" type="checkbox" name="isDone" {{#if this.isDone}}checked{{/if}} disabled>
        <h4 style="display: inline; virtical-align: middle">
          {{this.name}}
        </h4>
      </div>

      <div class="col-auto mx-2 my-1">
        <a class="btn btn-warning mx-1" href="/todos/{{ this._id }}">Detail</a>
        <a class="btn btn-success mx-1" href="/todos/{{ this._id }}/edit">Edit</a>
        <form action="/todos/{{ this._id }}?_method=delete" method="post" style="display: inline">
          <button class="btn btn-danger mx-1" type="submit">Delete</button>
        </form>
      </div>
    </div>
  </li>
  {{/each}}
</ul>