<form action="/todos" method="post" style="display: inline" class="px-2">
  <div class="input-group">
    <input class="form-control me-3" type="text" placeholder="input name" name="name">
    <button class="btn btn-success mx-1" type="submit">Create</button>
    <a class="btn btn-secondary mx-1" href="/">Back</a>
  </div>
</form>